/* slideShow */
@import "../../node_modules/react-slideshow-image/dist/styles.css";
.slideshow {
  background-color: #61dafb;
  font-family: 'Trebuchet MS', 'sans-serif';
}
.slides{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide-item{
  flex: 1;
  text-align: center;
}
.slide-item > a > img:hover  {
  border:blueviolet 1rem groove 
}
.slide-item1{
  flex: 2;
  font-size: 1.5rem;
  text-align: left;
}
.myIndicator{
  cursor:pointer;
  color:black;
  text-align:center;
  padding: 1rem;
  border-radius:50%;
  border:1px #222222 solid;   
}
.myIndicator.active{
  background:#9ebb0c;
  color: #fff;
}