.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*trying to fix it on mobile*/
@media screen and (max-width: 768px){
  *{
    font-size: 0.75rem;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  box-sizing: border-box;
  font-size: 1.05rem;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #61dafb;
}
h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 4em;
  margin: 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  margin: 0;
}
h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
}
a:link, a:visited {
  cursor: pointer;
  color: ghostwhite;
  text-decoration: underline;
  
}

a:link:active, a:visited:active {
  color:royalblue;
  cursor: pointer;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
  color: red;
}
.profile-img{
  border-radius: 50%;
}
.column-narrow{
  width: 30%; 
  float: left;  
  min-height: 175px;
  
}
.column-wide{
  width: 70%; 
  float: left; 
  padding-left: 3%;
  min-height: 225px;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  width: 300px;
}
nav {
  margin-bottom: 5px;
  background-color: #405d27;
  z-index: 1;
}
/*show the menu*/
@media only screen and (max-width: 768px){
    .navbar{
      display: none;
    }
}
/*create mobile*/
.initialMobileMenu {
  display: none;
}
.mobileMenu{
  display: block;
  position: absolute;
  top:0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}
aside > ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,80px);
  text-align: center
}
aside {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 1;
}
.navbar > a:hover {
  background-color: #ccc;
  color:darkblue
}
.navbar a {
  text-decoration: none;
  color: turquoise;
  font-size: 1.6rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 10px;
  width: 15%;
}
a.download, a.download:hover {
  color: white;
  background-color: black;
}
.navbar {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}
p
{
  font-size: 1.3em;
}
li 
{
  font-size: 1.5rem;
}

/* Header & Footer 
------------------------------------*/
header {
  background-color: #82b74b;
}

footer {
  background-color: #3e4444;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: orange
}


/* Work 
------------------------------------*/

.work {
  background-color: #c1946a;
  font-family: 'Montserrat', sans-serif;
}


/* Education
------------------------------------*/
.education {
  background: linear-gradient(rgba(170,230,280, 0.1), rgba(70,30,80, 0.9)), url(./images/spiral.jpg) no-repeat fixed 0px 0px / cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.popup {
    font-family: Lexend;
    font-weight: bolder;
    font-size: 1.5rem;
    position: fixed;
    background-color: rgba(63, 51, 30, 0.48);
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.popup-content {
    text-align:center;
    width: 50%;
    padding: 16px 8px;
    margin: auto;
}
.popup-close {
    background-color: red;
    color: black;
    margin-top: -10px;
    font-weight: bold;
    padding: 0px 3px;
    float: right;
    font-size: 1em;
}
.popup-close:hover,
.popup-close:focus {
    cursor: pointer;
    color: #ccc;
    background-color: #ec5656;
}

/* slideShow */
@import "../node_modules/react-slideshow-image/dist/styles.css";
.slideshow {
  background-color: #61dafb;
  font-family: 'PT Sans', sans-serif;
}
.slides{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide-item{
  flex: 1;
  text-align: center;
}
.slide-item > a > img:hover  {
  border:blueviolet 1rem groove 
}
.slide-item1{
  flex: 2;
  font-size: 1.5rem;
  text-align: left;
}
.myIndicator{
  cursor:pointer;
  color:black;
  text-align:center;
  padding: 1rem;
  border-radius:50%;
  border:1px #222222 solid;   
}
.myIndicator.active{
  background:#9ebb0c;
  color: #fff;
}
